@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #121212;
  height: 100%;
  width: 100%;
  color: white;
  cursor: url("pusheen.png"), auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#settings-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 560px;
  height: 420px;
  border-radius: 16px;
  background: #212121;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
  z-index: 69;
}

#settings-container h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 2rem;
}

#settings-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#close-settings-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  border-style: none;
  border-radius: 100%;
  background-color: rgb(201, 51, 31);
  color: rgb(241, 241, 241);
  transition: 0.2s all;
}

#close-settings-btn:hover {
  opacity: 0.5;
}

#settings-side {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: absolute;
  left: 0;
  background-color: #282828;
}

#settings-side button {
  border-style: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 20px;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.25s all;
}

#settings-side button:hover {
  border-bottom: 3px solid #575757;
}

#settings-side button:active {
  transition: 0s all;
  background-color: rgb(75, 75, 75);
}

#close-settings-side {
  background-color: rgb(194, 61, 61) !important;
}

#container-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#timer-container {
  text-align: center;
  width: 300px;
  margin-top: 28vh;
  margin-right: 15px;
}

#left-container {
  flex: 0 0 300px;
  margin-right: auto;
}

#left-todo {
  background-color: #282828;
  margin-left: 15px;
  border-radius: 16px;
  margin-top: 20px;
  padding: 8px;
  height: 69vh;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

#left-notes {
  background-color: #282828;
  margin-left: 15px;
  border-radius: 16px;
  margin-top: 20px;
  padding: 8px;
  height: 30vh;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#note-box {
  resize: none;
  width: 100%;
  flex: 1;
  color: #fff;
  font-size: 0.9rem;
  background-color: #3f3f3f;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}

#left-container h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

#right-container {
  flex: 0 0 300px;
  margin-left: auto;
}

#cat-petter {
  text-align: center;
  margin-right: 15px;
  background-color: #282828;
  border-radius: 16px;
  margin-top: 20px;
  padding: 8px;
}

#cat-placement {
  width: 250px;
}

#cat-random {
  text-align: center;
  margin-right: 15px;
  background-color: #282828;
  border-radius: 16px;
  margin-top: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 455px;
  overflow-y: scroll;
}

#cat-random p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

#cat-image {
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(223, 223, 223, 0.651);
}

#time-tracker {
  text-align: center;
  margin-right: 15px;
  background-color: #282828;
  border-radius: 16px;
  margin-top: 20px;
  padding: 30px 8px;
}

.task {
  background-color: #575757;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 1.25rem;
  transition: 0.15s all;
}

.task:hover {
  box-shadow: 0 0 10px red;
}

#header {
  position: absolute;
  left: auto;
  right: auto;
  top: 24px;
}

#header h1 {
  font-size: 4.25rem;
  text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 80px;
  display: flex;
  align-items: center;
}

#cat-title-img {
  width: 115px;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #282828;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgb(255, 255, 255);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #3f3f3f;
  font-weight: 600;
}

#timer-text {
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 6rem;
  color: #e4e5e6;
}

#quote {
  margin-bottom: 2.5em;
}

#start {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#start:active {
  transition: 0.1s;
  opacity: 0.4;
}

#start:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

#start:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#start:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#start:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#start:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#start:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

#start:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.fil0 {
  fill: #fffdef;
}

.filter {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: #fffefb;
  border: 1px solid rgba(0, 0, 0, 0.192);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
  transition: all 0.3s;
  background-color: rgb(59, 59, 59);
}

.filter:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
  background-color: #fffefb;
  color: rgb(59, 59, 59);
}

.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: #3f3f3f;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 7px;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
  --width-of-input: 300px;
}

.input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #ff6464 0%, #ffbf59 50%, #47c9ff 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}
.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  margin-top: 12px;
  margin-bottom: 4px;
  min-width: var(--width); /* Ensure minimum width */
  flex-shrink: 0; /* Prevent button from shrinking */
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

#hamburger {
  position: absolute;
  left: 10px;
  top: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
}

.bar span {
  position: absolute;
  width: 25px;
  height: 3px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 8px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
  left: 3px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 28px;
  bottom: 0;
  box-shadow: 0 0 5px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-10px);
  opacity: 0;
}
