:root {
  /* Default theme (dark) */
  --bg-primary: #121212;
  --bg-secondary: #212121;
  --surface-color: #2d2d2d;
  --text-primary: #fcfcfc;
  --accent-color: #575757;
  --accent-color-2: #fec195;
  --loader-bg: #000000;
  --dropdown-bg: #000000;
  --input-color: #3f3f3f;
}

/* Light theme */
.theme-light {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #121212;
  --accent-color: #6200ee;
}
